# ===============================
# LARAVEL
# ===============================
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/public
/bootstrap/cache/*.php
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml

# ===============================
# LOG & DEBUG
# ===============================
storage/logs/*
npm-debug.log
yarn-error.log

# ===============================
# DOCKER
# ===============================
docker-compose.override.yml
.env.docker

# ===============================
# CLOUDFARE
# ===============================
/etc/cloudflared/*
*.json
*.pem
*.crt
*.key

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
